.num1{
    background-image: url("/images/kedarnath.jpg");

  /* Set a specific height */
  min-height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ptext{
  position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.border {
  background-color: #111;
  color: #fff;
    padding: 20px;}
.num2
{
    
    background-color: silver;
    font-family: monospace;
    font-size: large;
    text-align: center;
}
.num3{
    
    background-image: url("/images/badri.jpg");

  /* Set a specific height */
  min-height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.num5{
  background-color: silver;
  font-family: monospace;
  font-size: large;
  text-align: center;
}
li{
    font-size: xx-large;
    font-family: "Lato" sans-serif;
}
.num4{
    background-image: url("/images/alk.jpg");
    min-height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}li
{
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
}
.num6{
  background-color: #282e34;
  font-family: monospace;
  font-size: large;
  text-align: center;
}
p{
   color: #ddd;;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
